.avatarlogo{
    width: 36px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 20px;
}
.assignedTO{
    font-size: 14px;
    font-weight: 700;
    color: #13100D80;
  padding-top: 13px;
    line-height: 0px;
}
.Inspector_name{
    font-size: 16px;
    font-weight: 700;
    color: #13100D;
    line-height: 1rem;
}
.personDet{
    padding-left: 20px;
    padding-top: 30px;
}
.personText{
    font-weight: 500;
    font-size: 14px;
    color: #13100D;
    line-height: 21px;
    }
.personLabel{
        color: #13100D80;
        font-weight: 500;
        list-style: 21px;
        font-size: 14px;
    }